/* CSS Document */
body {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    background: linear-gradient(156deg, rgba(170,255,243,1) 0%, rgba(77,210,179,1) 59%, rgba(0,255,158,1) 100%);
}

.heading {
    border: thick outset #00C6C9;
    background-image: inherit;
}
.img {
    /* [disabled]border-color: #00C6C9; */
    border-style: outset;
    border-width: medium;
}
.nav {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2774B7;
}

li {
	float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
