/* CSS Document */
body {
	background: rgb(170,255,243);
    background: linear-gradient(156deg, rgba(170,255,243,1) 0%, rgba(77,210,179,1) 59%, rgba(0,255,158,1) 100%);


}
.heading {
    border: thick outset #00C6C9;
    background-image: inherit;
}
.img {
    /* [disabled]border-color: #00C6C9; */
    border-style: outset;
    border-width: medium;
}
