/* CSS Document */
body {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	/*background: #000000;*/
	background-image: url(/pics/Blue_marble.jpg);
    background-repeat: repeat;
	
}

.heading {
	color: #0024FF;
    border: thin outset #0024FF;
    background-image: inherit;
	padding: 1px 10px 1px 10px;
}
.img {
    border-color: #0024FF;
    border-style: outset;
    border-width: medium;
}
.nav {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0024FF;
}

li {
	float:left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 4px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #0024FF;

}

table {
    color: #0024FF;
    border: thick outset #0024FF;
    background-color: #2C2C2C;
}
